@charset 'UTF-8';

body {
  background-color: white;
  font-family: Muli;
  font-size: 16px;
  float: left;
  margin: 0 !important;
}
#todayContainer{
  padding-bottom: 10px;
}
#currentDateLabel{
  padding-right: 10px;
  padding-bottom: 10px;
}
#messageSpan{
  margin-top: 15px;
  float: left;
  width: 100%;
  color: blue;
}

#dateTester{
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}

#dateTester input{
  font-size: 18px;
  font-weight: bold;
  float: left;
}
#dateTester label{
  padding-right: 10px;
  float: left;
}